<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag("gacha.png", width: "100%") %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <% if logged_in? %>
        <%= link_to controller: :gacha, action: :result do %>
          <button type="button" class="btn btn-success btn-lg btn-block">結果を確認</button>
        <% end %>
      <% else %>
        <%= link_to "/auth/twitter" do %>
          <%= image_tag("do_gacha.png", width: "25%") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>遊び方</h1>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-12 text-center">
    <h2>1. 「引」ボタンを押してガチャを引いてください</h2>
    <h2>2. ブースまでお越しください</h2>
    <h2>3. 結果画面をブースのスタッフに見せてください</h2>
    <h3>4. 結果画面の景品を受け取ってください</h2>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>景品</h1>
    </div>
  </div>

  <% @rewards.each_with_index do |reward, i| %>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2><%= reward.name %></h2>
        <h2><%= reward.description %></h2>
        <h2>残数:<%= reward.possession_count - reward.distributed_count %></h2>
        <img src="<%= reward.image_url %>" width="300px" hight="300px">
      </div>
    </div>
    <hr>
  <% end %>
</div>
