<%= image_tag("gacha.png", width: "100%") %>

<%= link_to controller: "gacha", action: "pre" do %>
  <br>
  <%= image_tag("do_gacha.png", width: "25%") %>
<% end %>

<h2>遊び方</h2>

遊び方の説明
<br><br>

<h2>報酬リスト</h2>

<% @rewards.each_with_index do |reward, i| %>
  <%= reward.name %>(確率:<%= reward.rate %>%)<br>
  <%= reward.description %><br>
  残数:<%= reward.possession_count - reward.distributed_count %><br>
  <img src="<%= reward.image_url %>" width="300px" hight="300px">
  <hr>
<% end %>

<%= link_to "ガチャ結果", controller: "home", action: "result" %>
