<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag("ac2019.png", width: "100%") %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <% if logged_in? %>
        <%= link_to controller: :gacha, action: :result do %>
          <button type="button" class="btn btn-success btn-lg btn-block">[抽選権獲得状況]</button>
        <% end %>
      <% else %>
        <%= link_to "/auth/twitter" do %>
          <%= image_tag("retweet.png", width: "50%") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>TID拡散方法</h1>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-12 text-center">
    <h2>1. 「拡散する」ボタンを押す</h2>
    <h2>2. Twitter連携アプリの認証</h2>
    <h2>3. TIDの記事がリツイートされます</h2>
    <h2>4. AC2019の打ち上げにて抽選を実施します</h2>
    <h2>5. 抽選にあたれば豪華景品がもらえます</h2>
    </div>
  </div>

  <hr>

  <% @rewards.each_with_index do |reward, i| %>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2><%= reward.name %></h2>
        <h2><%= reward.description %></h2>
        <img src="<%= reward.image_url %>" width="300px" hight="300px">
      </div>
    </div>
    <hr>
  <% end %>
</div>
