<h1>Onlineガシャ</h1>

<%= link_to "今すぐ引く", controller: "gacha", action: "pre" %>

<h2>遊び方</h2>

遊び方の説明
<br><br>

<h2>報酬リスト</h2>

<% @rewards.each do |reward| %>
  <%= reward.name %>(確率:<%= reward.rate %>%)<br>
  <%= reward.description %><br>
  <img src="<%= reward.image_url %>" width="300px" hight="300px">
  <hr>
<% end %>

<%= link_to "ガチャ結果", controller: "home", action: "result" %>
