<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet day:</strong>
  <%= @tweet_template.tweet_day %>
</p>

<p>
  <strong>Message:</strong>
  <%= @tweet_template.message %>
</p>

<p>
  <strong>Link:</strong>
  <%= @tweet_template.link %>
</p>

<%= link_to 'Edit', edit_admin_tweet_template_path(@tweet_template) %> |
<%= link_to 'Back', admin_tweet_templates_path %>
